p {
    margin: 0;
    padding: 0;
}

.ShopDetailwrap {
    width: 100%;
    overflow: hidden;
}

.top_a {
    background: #f3f3f3;
    height: 42px;
    border-bottom: 1px solid #d7d7d7;
}

.top_a img {
    position: absolute;
    left: 0;
    height: 42px;

}

.nav_a {
    height: 40px;
    border-bottom: 1px solid #ececec;
}

.nav_a li {
    float: left;
    width: 20%;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.ShopDetailgoodswrap {
    display: flex;
    height: 100px;
    padding: 10px;
}

.ShopDetailgoodspic {
    width: 35%;
    height: 100px;
    margin-right: 10px;
}

.ShopDetailgoodspic img {
    height: 100px;
    width: 100px;
}

.ShopDetailgoodsFont {
    text-align: left;
    width: 65%;
    position: relative;
}

.shop_title {
    height: 66px;
}

.shop_name {
    color: #212121;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.second_name {
    font-size: 14px;
    color: #fb6104;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shop_price {
    line-height: 14px;
    position: relative;
    color: #a9abaa;
    font-size: 14px;
}

.shop_city {
    width: 150px;
    margin-top: 5px;
    line-height: 12px;
    position: relative;
    color: #8e8e8e;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ShopDetailgoodsFont img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35px;
}